.kafkaButton {
    border:1px solid rgb(185, 190, 152);
    background-color: rgb(185, 190, 152);
    height: 80%;
    padding: 0rem 0.1rem;
    cursor: pointer;
}

.kafka_button{
    opacity: 100%;
    //background-color:  #ADADAD;    /*设定为--跟整个页面的背景颜色一致*/ 
    border: 1px solid  rgb(185, 190, 152);         /*设定边框的颜色*/
}

.kafkaButtonUnActive {
    color:rgb(185, 190, 152);    
    /*background-color: RGB(35,94,181);*/
}

.kafkaButtonActive {
    color: RGB(255,255,255);
    background-color: rgb(185, 190, 152);
}


.kafkaselectButton {
    border:1px solid rgb(185, 190, 152);
    height: 80%;
    padding: 0rem 0.1rem;
    cursor: pointer;
}